<ion-header>
  <ion-toolbar  color="primary" text-center>
    <ion-title no-padding>
     <h5>Select App</h5>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <ion-list lines="full">
    <ion-item (click)="openSpotify()">
      <ion-avatar slot="start">
      <img src="../../assets/images/spotify1.png" alt="" style="width:38px;">
      </ion-avatar>
      <ion-label>Opent Spotify</ion-label>
      <ion-icon slot="end" name="arrow-dropright"></ion-icon>
    </ion-item>

    <ion-item (click)="openitune()">
      <ion-avatar slot="start">
      <img src="../../assets/images/apple_music.png" alt="" style="width:38px;">
      </ion-avatar>
      <ion-label>Opent i-tune</ion-label>
      <ion-icon slot="end" name="arrow-dropright"></ion-icon>
    </ion-item>
  </ion-list>
  </ion-content>
</ion-content>
