:host {
  ion-content {

  }
}
ion-item{
       --background: white;
    --color: #666666;
}
ion-button{
    --background: #062f77;
}


.app_title{
  margin:100px 0px 30px 0px;
}
.text08{
  padding-left: 10px;
}
