  <!--   <div class="cloud">
    <span class="cloud_text">
      <ion-icon name="sad"></ion-icon>
    </span>
  </div> -->  
<video #videoPlayer width="100%" poster="../assets/images/vid_bg"   height="100%" class="vid_play"  preload="metadata" controlsList="nodownload nofullscreen noremoteplayback" loop   id="myVideo" >
    <source src="" type="video/mp4"/>
    <source src="" type="video/ogg">
    <source src="" type="video/webm">
  </video>

  background-repeat: no-repeat;
    background-size: cover;
    background-image: url(http://fitapp.web-brats.com/uploads/images/1564215443.jpg);
}

[style.backgroundImage]="'url(' + thumbnail + ')'"

  background-repeat: no-repeat;
    background-size: cover;
    <preference name="ScrollEnabled" value="false" />
    <preference name="android-minSdkVersion" value="19" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashShowOnlyFirstTime" value="false" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="SplashScreenDelay" value="10000" />
    <preference name="FadeSplashScreenDuration" value="1000" />
    <preference name="SplashScreen" value="screen" />
    <preference name="ShowSplashScreen" value="true" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="FadeSplashScreen" value="true" />
    <platform name="android">

  <!--  <video  *ngIf="heading!='Workout'"  width="100%"  style="object-fit: cover;
      " height="240" poster="{{image}}" preload="metadata" controlsList="nodownload" controls="controls"  webkit-playsinline="webkit-playsinline" class="videoPlayer"><source src="{{video}}" type="video/mp4"/></video> -->

    <preference name="ScrollEnabled" value="false" />
    <preference name="android-minSdkVersion" value="19" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="FadeSplashScreenDuration" value="300" />
    <preference name="SplashShowOnlyFirstTime" value="false" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="3000" />

     { path: 'technique', loadChildren: './model/technique/technique.module#TechniquePageModule' },

  <ion-card-header style="border: 1px solid red;">
                    <ion-text no-margin  style="border: 1px solid blue;" class="text_heading">
                      <strong >{{warmup.video_title}}</strong> 
                    </ion-text>
              <ul  class="list ion-no-margin" style="border: 1px solid pink;">
                  <li class="item text_desc" ><p>{{warmup.video_description}}</p></li>
                  <li class="item text_desc" ><p>{{warmup.video_description}}</p></li>
              </ul>
            </ion-card-header>

<div text-center margin-top>
      <h5>
        <ion-text>
         
        </ion-text>
      </h5>
    </div>

     <div text-center>
      <h5>
        <ion-text>
         TECHNIQUE
        </ion-text>
      </h5>
    </div>
 <ion-col size="6" size-sm="3" size-md="4" size-lg="3">
        <ion-card class="card tech_card">
          <div class="overlay_img">
          <ion-card-subtitle class="img_overlay_title ">Free</ion-card-subtitle>
             <img  class="img_fit"  src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F35%2F2018%2F07%2F03203604%2Fwoman-doing-calisthenics-workout.jpg&w=400&c=sc&poi=face&q=85">
            </div>
            <ion-card-header (click)="presentModal()">
              <ion-card-subtitle   style="" >Testing</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content class="ion-text-justify" uppercase>  
              Testing this my testing
        </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-sm="3" size-md="4" size-lg="3">
        <ion-card class="card tech_card">
          <div class="overlay_img">
          <ion-card-subtitle class="img_overlay_title ">Premium</ion-card-subtitle>
             <img  class="img_fit"  src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F35%2F2018%2F07%2F03203604%2Fwoman-doing-calisthenics-workout.jpg&w=400&c=sc&poi=face&q=85">
            </div>
            <ion-card-header >
              <ion-card-subtitle   style="" >Testing</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content class="ion-text-justify" uppercase>  
              Testing this my testing
        </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-sm="3" size-md="4" size-lg="3">
        <ion-card class="card tech_card">
          <div class="overlay_img">
          <ion-card-subtitle class="img_overlay_title ">Premium</ion-card-subtitle>
             <img  class="img_fit"  src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F35%2F2018%2F07%2F03203604%2Fwoman-doing-calisthenics-workout.jpg&w=400&c=sc&poi=face&q=85">
            </div>
            <ion-card-header >
              <ion-card-subtitle   style="" >Testing</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content class="ion-text-justify" uppercase>  
              Testing this my testing
        </ion-card-content>
        </ion-card>
      </ion-col>
 let content = document.querySelector('ion-content');
    content.scrollEvents = true;

    content.addEventListener('logScrollEnd', () => {
          document.querySelector('ion-footer').style.display = 'none';
    });

<ion-content  [scrollEvents]="true"
  (ionScrollStart)="logScrollStart()"
  (ionScroll)="logScrolling($event)"
  (ionScrollEnd)="logScrollEnd()">

    ScrollToTop(){
    this.content.scrollToTop(1500);
  }

  ScrollToPoint(X,Y){
    this.content.scrollToPoint(X,Y,1500);
  }

      scrWidth:any;
          this.scrWidth = window.innerWidth;
          console.log(this.scrHeight, this.scrWidth);
              <ion-card class="welcome-card card card_border">
      <video width="100%" controls="controls"  webkit-playsinline="webkit-playsinline" class="videoPlayer"><source src="../assets/videos/warmup.mp4" type="video/mp4"/></video>
      <ion-card-header>
            <h6>
              <ion-text>
              <strong >Warm Up planned for you</strong> 
              </ion-text>
            </h6>
        <ul class="list">
            
            <li class="item"><h6>warmup and coolup</h6></li>
            <li class="item"><h6>warmup and coolup</h6></li>
        </ul>
      </ion-card-header>
    </ion-card>


  async presentModal(id) {
      // console.log(id);
       this.restProvider.api_method('get','get_technique_detail'+id,null,null).subscribe((data)=>{
       // this.restProvider.dismissLoader();
       console.log(data);
   
       console.log(this.techniquedata);
       if(data['status']==='success'){
      
        
        const modal = await this.modalController.create({
        component: ImagePage,
        componentProps: { video:data[''],name: 'THE BASICS' ,overview:'Get full depth on the squat. Hipsa below nees.At the top, stand up completely. When holding dumbblells,Keep your elbows up pointing forward.', tips:'Two 10#(5kg) or light dumbbells,try to beat 15 minutes!',instructions:'10 dumbbells front Squats' }
         });
   
        }else if(data['status']==='error'){
         
        }
      

      
        },
      error=>{
        console.log('error', error);
        // this.restProvider.dismissLoader();
      });
      
  }

  'Get full depth on the squat. Hipsa below nees.At the top, stand up completely. When holding dumbblells,Keep your elbows up pointing forward.'
 tips:'Two 10#(5kg) or light dumbbells,try to beat 15 minutes!',instructions:'10 dumbbells front Squats' 

 <ion-content  *ngIf="techniquedata">
   <div text-center>
      <h4>
        <ion-text>
         TECHNIQUE
        </ion-text>
      </h4>
    </div>
  <ion-grid>
    <ion-row text-center>
      <ion-col size="6"   size-sm="3">
        <ion-card class="card tech_card" >
             <img class="img_fit"  src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F35%2F2018%2F07%2F03203604%2Fwoman-doing-calisthenics-workout.jpg&w=400&c=sc&poi=face&q=85">
            <ion-card-header (click)="presentModal()">
              <ion-card-subtitle   style="" >{{heading |  slice:0:30|uppercase}}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content class="ion-text-justify" uppercase>  
              {{content |  slice:0:50 | titlecase }}
        </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-sm="3">
        <ion-card class="card tech_card" >
             <img class="img_fit"  src="https://streetworkouts.net/wp-content/uploads/2014/07/fitness-woman-1024x682.jpg">
            <ion-card-header>
              <ion-card-subtitle  style="" >{{heading |  slice:0:30|uppercase}}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content class="ion-text-justify">  
              {{content |  slice:0:50 | titlecase }}
        </ion-card-content>
        </ion-card>
      </ion-col>
       <ion-col size="6" size-sm="3">
        <ion-card class="card tech_card" >
             <img class="img_fit"  src="https://streetworkouts.net/wp-content/uploads/2014/07/fitness-woman-1024x682.jpg">
            <ion-card-header>
              <ion-card-subtitle  style="" >{{heading |  slice:0:30|uppercase}}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content class="ion-text-justify" uppercase>  
              {{content |  slice:0:50 | titlecase }}
        </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-sm="3">
        <ion-card class="card tech_card" >
             <img class="img_fit"  src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F35%2F2018%2F07%2F03203604%2Fwoman-doing-calisthenics-workout.jpg&w=400&c=sc&poi=face&q=85">
            <ion-card-header>
              <ion-card-subtitle  style="" >{{heading |  slice:0:30|uppercase}}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content class="ion-text-justify" uppercase>  
              {{content |  slice:0:50 | titlecase }}
        </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-sm="3">
        <ion-card class="card tech_card" >
             <img class="img_fit"  src="https://streetworkouts.net/wp-content/uploads/2014/07/fitness-woman-1024x682.jpg">
            <ion-card-header>
              <ion-card-subtitle  style="" >{{heading |  slice:0:30|uppercase}}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content class="ion-text-justify" uppercase>  
              {{content |  slice:0:50 | titlecase }}
        </ion-card-content>
        </ion-card>
      </ion-col>
  
    </ion-row>
  </ion-grid>
</ion-content>
 <!-- Skeleton screen -->
<div *ngIf="!techniquedata">
  <div class="ion-padding custom-skeleton">
    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
    <ion-skeleton-text animated></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
  </div>

  <ion-list>
    <ion-list-header>
      <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
    </ion-list-header>
    <ion-item>
        <ion-thumbnail slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
   
  </ion-list>
</div>


  --background: url('/assets/tab_icons/warmup.png') no-repeat; 
   --background: linear-gradient(135deg, var(--ion-color-secondary
), var(--ion-color-dark));
  <p ion-text color="warning" class="text08" *ngIf="onRegisterForm.hasError('MatchPassword','')">
              <ion-text color="warning">
              password does not match
              </ion-text>
            </p>

              <ion-item *ngIf="onRegisterForm.controls.confirmpassword.hasError('notSame')  && (onRegisterForm.controls.confirmpassword.dirty || submitAttempt)">
           <p>not a whole number</p>

          </ion-item>

               <p *ngIf="onRegisterForm.controls['confirmpassword'].errors?.MatchPassword" style="color: red">New password and Confirm password did not match</p>

<ion-content padding class="animated fadeIn login auth-page">
  <div class="theme-bg"></div>
  <div class="auth-content">

    <!-- Logo -->
    <div padding-horizontal text-center class="animated fadeInDown">
      <div class="logo"></div>
      <h4 no-margin>
        <ion-text color="light" class="fw700">
         Login
        </ion-text>
      </h4>
    </div>
    
    <form >
     <div padding>
            <ion-item>
              <ion-input name="email" type="email" placeholder="your@email.com" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" type="password" placeholder="Password" ngModel required></ion-input>
            </ion-item>
          </div>
  

      <ion-button icon-left size="medium" expand="full" shape="round" color="dark"  type="submit" tappable>
        <ion-icon name="log-in"></ion-icon>
        Sign in
      </ion-button>
    </form>
    <p text-right tappable (click)="forgotPass()" class="paz">
      <ion-text color="light">
        <strong>Forgot Pass?</strong>
      </ion-text>
    </p>
    <!-- Other links -->
    <div text-center margin-top>
      <span (click)="goToRegister()" class="paz" tappable>
        <ion-text color="light">
          New here? <strong>Sign Up</strong>
        </ion-text>
      </span>
      <p text-center>
        <ion-text color="light">
          Or Signin with:
        </ion-text>
      </p>
        <ion-grid class="btn-group">
        <ion-row>
          <ion-col size="2"></ion-col>
          <ion-col size="4"><ion-button shape="round" expand="full" color="danger" (click)="loginWithGoogle()">
              <ion-icon slot="icon-only" name="logo-google" ></ion-icon>
            </ion-button></ion-col>
          <ion-col size="4">
            <ion-button shape="round" expand="full" color="secondary" (click)="submitLogin();">
              <ion-icon slot="icon-only" name="logo-facebook" ></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="2"></ion-col>
        </ion-row>
      </ion-grid>

    </div>
  </div>

</ion-content>
//coach
<ion-grid style="height: 100%"  style='background-image: url("../assets/images/warmup_cover.jpg");
      -webkit-background-image: url("../../assets/imgs/img_bg_floral.png");
      //background-repeat: repeat;
      background-repeat: no-repeat;
      background-size: cover;height: 100%;opacity: 0.8;'>
    <ion-row justify-content-center align-items-center style="height: 100%">
      <ion-card  style=" 
    background: white;
    opacity: 1;" >
  <ion-card-header>
       <ion-card-title text-center>ASK COACH A QUESTION </ion-card-title>
  </ion-card-header>
  <ion-card-content style="margin: 5%;
    border: 3px solid #4dd0e1;
    border-radius: 15px;
    padding: 5%;
    box-shadow: 0 0 6px #4dd0e1;">
   <ion-label position="floating">Description</ion-label>
      <ion-textarea></ion-textarea>
  </ion-card-content>
  <ion-item>
    <ion-button style="--background:#4dd0e1;color: white; " slot="end">send</ion-button>
  </ion-item>
</ion-card>
    </ion-row>
</ion-grid>
//font
@import url(https://fonts.googleapis.com/css?family=Aguafina+Script&display=swap);
:root{
  font-family: 'Aguafina Script', cursive;
}

@font-face {
  font-family: 'Aguafina Script';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/aguafinascript/v7/If2QXTv_ZzSxGIO30LemWEOmt1b3rcQtoCQerw.ttf) format('truetype');
}

